erl_crash.dump
deps/
log/
**/*.java
apps/*/ebin
*.log
*.log.*
Mnesia.*
*.iml
misc.xml
modules.xml
sample
vcs.xml
workspace.xml
.idea/
.DS_Store
_build
.applist
rebar.lock
priv/protobuf/*
src/roster_validator.erl
src/priv/*
sec/priv/*
