{relx, [{release, {server, "1.0.0"}, [chat, service]}, {sys_config, "./sys.config"}, {vm_args, "./vm.args"}, {dev_mode, true},{extended_start_script, true}]}.
{deps, [{rest, ".*", {git, "git@github.com:synrc/rest",{tag,"5.10"}}},
        {bpe,    ".*", {git, "git@github.com:synrc/bpe", {tag,"4.4"}}},
        {esockd, ".*", {git, "git@github.com:xio/esockd",{ref, "a80634b961c315ffe5f020d73236473b53ae5dc9"}}},
        {emqttd, ".*", {git, "git@github.com:xio/emqttd",{branch,"master"}}},
        {emqttc, ".*", {git, "git@github.com:xio/emqttc",{branch,"master"}}},
        {cowboy, ".*", {git, "git@github.com:xio/cowboy", {branch,"master"}}}]}.
{erl_opts, [{parse_transform,lager_transform},{parse_transform, oc_transform},debug_info,nowarn_deprecated_function,nowarn_export_all]}.
{profiles, [{prod, [{relx, [{dev_mode, false},{include_erts, true}]}]}]}.
{dialyzer, [{warnings, [underspecs, no_return]}]}.
