[ {review, [{host,"chat.erp.uno"}]},
  {bert,   [{erl,"src"},{swift,"priv/macbert/"}]},
  {chat,   [{upload, "./storage"},{auth_ttl,900},{auth_check_ip,false},{get_sessions_api,true},{whitelist_check,false},{fake_numbers_check,true},{validate_token, micro_auth}]},
  {rest,   [{port, 8888},{basic_auth,[{username,<<"maxim">>},{password,<<"maxim:00000">>}]},{open_api_list, [<<"/test">>, <<"/metrics">>]}]},
  {n2o,    [{port, 8000},{upload,"./storage"},{app,review}, {tables, [cookies, file, caching, ring, mqtt, ws, async, nick, names, surnames, system]},
            {pickler, nitro_pickle},{formatter,n2o_bert},{mqtt_server,true},{auth_ttl, 86400}, %% 24 h
            {protocols, [n2o_nitro,n2o_ftp,chat_proto]},{validate,{chat, validate}}, {log_modules, [chat]},{log_level,chat},{mqtt_server,true},{vnode, {chat, get_vnode}}]},
  {kvs,    [{dba,store_mnesia},
            {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription, chat, micro, emqttd_kvs, bpe_metainfo]}]},
  {bpe,    [{process_worker,{job,worker}},{ttl, 8640000}]},
  {admin,  [{default_admin, [{name, <<"admin">>},{password, <<"admin:00001>>}]}
            {listeners_dash, [{http,18083,[{acceptors,4},{max_clients,512}]},
            {https, 18084,[{acceptors,4},{max_clients,512},{handshake_timeout, 15},{certfile, "etc/certs/cert.pem"},
                           {keyfile, "etc/certs/privkey.pem"},{cacertfile ,"etc/certs/fullchain.pem"},
                           {verify,verify_peer},{fail_if_no_peer_cert, false}]}]}]},
            {emq_modules, [{modules,[{emq_mod_presence,[{qos,1}]},{emq_mod_subscription,[{<<"%u/%c/#">>,2}]},
                           {emq_mod_rewrite,[{rewrite,"x/#","^x/y/(.+)$","z/y/$1"},{rewrite,"y/+/z/#","^y/(.+)/z/(.+)$","y/z/$2"}]}]}]},
  {emqttd, [{plugins_loaded_file,"etc/loaded_plugins"},
            {plugins_etc_dir,"etc/plugins/"}, {broker_sys_interval,60}, {conn_force_gc_count,100}, {cache_acl,true},
            {acl_file,"etc/acl.conf"}, {allow_anonymous,true},
            {protocol, [{max_clientid_len,1024},{max_packet_size,25165824}]},
            {client, [{client_idle_timeout,30000},{client_enable_stats,false}]},
            {session, [{upgrade_qos,false}, {max_inflight,32},{retry_interval,20000},{max_awaiting_rel,100000},
            {await_rel_timeout,20000}, {enable_stats,false},{expiry_interval,7200000}]},
            {queue, [{priority,[]},{type,simple},{max_length,infinity},{low_watermark,0.2},{high_watermark,0.6},{queue_qos0,true}]},
            {pubsub, [{pool_size,8},{by_clientid,true},{async,true}]},
            {bridge, [{max_queue_len,10000},{ping_down_interval,1}]},
            {listeners, [{tcp,   1883,[{connopts,[]},{sockopts,[{backlog,1024},{nodelay,true}]},{acceptors,8},{max_clients,1048576},{tune_buffer,false}]},
                         {ssl,   8883,[{sslopts,[{versions,['tlsv1.2','tlsv1.1',tlsv1]},{cacertfile,"etc/certs/cert.pem"},
                                       {keyfile,"etc/certs/privkey.pem"},{certfile,"etc/certs/fullchain.pem"}]},
                                       {connopts,[]},{sockopts,[{nodelay,true}]},{acceptors,8},{max_clients,1048576}]},
                         {http,  8083,[{connopts,[]},{sockopts,[{nodelay,true}]},{acceptors,8},{max_clients,1048576}]},
                         {https, 8084,[{sslopts,[{cacertfile,"etc/certs/cert.pem"},{keyfile,"etc/certs/privkey.pem"},
                                       {certfile,"etc/certs/fullchain.pem"}]},{connopts,[]},{sockopts,[{nodelay,true}]},{acceptors,8},{max_clients,1048576}]}]},
            {sysmon, [{long_gc,false},{long_schedule,240},{large_heap,67108864},{busy_port,false},{busy_dist_port,true}]}]},
].
