@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 16px;

	/* Heading height variable*/
	--heading-height: 30em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
    background-image: url("../img/light_bg.png"), linear-gradient(#FCF1EA, #E0D7D0);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
}