.login-window{width: 60%;margin-left: 20%;}
.login-window button{margin-top: 10px;}
.login-window .alert {height: 20px;line-height: 4px;margin-top: 5px; margin-bottom: 10px;}
.login-window input[type=email] {margin-bottom: 5px;}

.clear {clear: both;}

body {
  overflow-x: auto; /* hidden - Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.scrollup {
    width: 60px;
    height: 80%;
    top: 80px;
    position: fixed;
    left: 10px;
    display: none;
    text-indent: 9999px;
    //background: lightgray;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.png');
}

.scrollup a, .scrollup a:hover, .scrollup a:visited {
    color: darkgray;
    text-decoration: none;
}

/*.suspend_button{display: none;}*/
/*.suspend_button .btn {}*/

/*tr:hover .suspend_button{display: block;}*/

.earned_red {
    color: #ff1803
}

.earned_green {
    color: #03ff96
}

#user_name_in_title {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 20px;
}

#map-canvas  {
  margin: 0;
  padding: 0;
  //height: 100%;
  width:570px;
  height:400px;
  border:4px red;
}

#panel_location {
    position: absolute;
    top: 25px;
    left: 35%;
    margin-left: -10%;
    z-index: 5;
    background-color: #fff;
    //padding: 5px;
    //border: 1px solid #999;
}



/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 200px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.earned_red {
    color: #ff1803
}

.earned_green {
    color: #03ff96
}