header.page-header {
	position: fixed;
	width: 100%;
    color: #7C7E81;
}

h1 {
    text-align: center;
	font-size: calc(1.8em + 1.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .02em .02em .02em #353535;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	/*min-height: 100vh;*/
    /*background-image: none, linear-gradient(#FCF1EA, #E0D7D0);*/
    /*background-image: none, linear-gradient(#292D38, #1F2227);*/
    background-image: none, linear-gradient(#303843, #1F2227);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*min-width: 500px;*/
}

.navbar-nynja {
    /*background-color: #737373;*/
    background-color: #262626;
    border-color: #262626;
}

.navbar-nynja .navbar-brand {
    /*color: #D8D8D8;*/
    color: #c90010;
}

.navbar-nynja .navbar-nav>li>a {
    color: #D8D8D8;
}

.navbar-nynja .navbar-nav>.active>a,
.navbar-nynja .navbar-nav>.active>a:hover,
.navbar-nynja .navbar-nav>.active>a:focus {
    background-color: #D8D8D8;
}

.navbar-nynja .navbar-nav>.active>a,
.navbar-nynja .navbar-nav>.active>a:hover,
.navbar-nynja .navbar-nav>.active>a:focus {
    color: #262626;
}

.whitelist-table {
	color: #fff;
}

.whitelist-table>thead {
	color: #c90010;
}

.whitelist-table > tbody > tr:hover > td,
.whitelist-table > tbody > tr:hover > th {
	background-color: #4E5156;
}

.whitelist_phone, .whitelist_created, .whitelist_action {
	max-width: 33%;
	min-width: 100px;
}

.btn-whitelist {
	background-color: #303843;
	border-color: #D8D8D8;
	color: #D8D8D8;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.btn-whitelist-reverse,
.btn-whitelist:hover {
	background-color: #D8D8D8;
	border-color: #262626;
	color: #262626;
}

.btn-whitelist-reverse:hover {
	background-color: #303843;
	border-color: #D8D8D8;
	color: #D8D8D8;
}

.btn-whitelist:focus {
	outline: 0;
}

/*.btn-whitelist:active {*/
	/*background-color: #c90010;*/
	/*border-color: #c90010;*/
	/*color: #D8D8D8;*/
/*}*/

.modal-whitelist {
	background-color: #303843;
	border-color: #D8D8D8;
	padding: 10px;
}

.modal-whitelist > .modal-header {
	border-color: #D8D8D8;
	color: #D8D8D8;
	border-bottom: none;
}

.modal-whitelist > .modal-footer {
	border-top: none;
}

input:active {
	outline: 0;
	border-color: #c90010;
}

input:focus {
    outline: 0;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #c90010;
    box-shadow: 0 0 2px #c90010 inset, 0 0 2px #c90010;
    outline: 0 none;
}

.whitelist-modal-error {
	color: #c90010;
	padding: 0 15px;
}

.btn-whitelist-delete {
	color: #c90010;
	/*background-color: #c90010;*/
	border-color: #c90010;
	/*color: #D8D8D8;*/
}

.btn-whitelist-delete:hover {
	background-color: #c90010;
	border-color: #c90010;
	color: #D8D8D8;
}

/*input[type=checkbox] + label {*/
  /*color: #D8D8D8;*/
  /*font-style: italic;*/
/*}*/
/*input[type=checkbox]:checked + label {*/
  /*color: #c90010;*/
  /*font-style: normal;*/
/*}*/

input[data-state="checked"] {
  background-color: #c90010;
}

/*.checkmark {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 25px;*/
    /*width: 25px;*/
    /*background-color: green;*/
/*}*/


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
	border-radius: 4px;
    background-color: #D8D8D8;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #D8D8D8;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #c90010;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    /*left: 9px;*/
    /*top: 5px;*/
    /*width: 5px;*/
    /*height: 10px;*/
	left: 5px;
    top: 2px;
    width: 10px;
    height: 12px;
    border: solid #D8D8D8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-section > button {
	margin-right: 10px;
}